#search-container--middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:25%;
    width:100%;
}

#search-container--bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:25%;
    width:100%;

}
#search-row--1--image {
    height: 250px;
}