.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center-text {
  text-align: center;
}

.bold-text {
  font-weight: bolder;
}
.page-container {
  /* background-color: beige; */
  background-image: linear-gradient(to top, #efe76b, #f4d965, #f6cc61, #f7bf5f, #f7b25f, #e8b661, #daba65, #ccbc6b, #b0ca87, #9dd3a9, #99d8c7, #a8dadc);  display: flex;
  /* background-image: linear-gradient(to top, #efe76b, #f4d965, #f6cc61, #f7bf5f, #f7b25f, #e8b661, #daba65, #ccbc6b, #b0ca87, #9dd3a9, #99d8c7, #a8dadc); */
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.row-1--title {
  font-size: xx-large;
  font-weight: bolder;
}